

<section id="voitures" class="container-fluid">
<div class="container px-4 py-4 bg-opacity-50 rounded" id="hanging-icons" >
    <h2 class="pb-2 border-bottom">Nos véhicules</h2> 
        
        </div>
       {# </div> #}
       </section>


{# 
<div class="card-group">
   <div class="row">
     <div class="col-sm-4 mb-4 mb-sm-0"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/1-peugeot-308.webp" class="card-img-top" alt="Image_Peugeot">
  <div class="card-body">
  {% for listing in liste %}
    
 
    <h5 class="card-title">{{listing.nom}}</h5>
    <p class="card-text">{{listing.annee}} | {{listing.km}} km | {{listing.vitesse}} | {{listing.energie}}</p>
    <hr>
     <p class="card-text">{{listing.prix}}</p>
    <a href="#" class="btn btn-danger">Détails</a>
     {% endfor %}
    {{dump()}}
  </div>
</div>
</div>
</div>  #}

<div class="card-group">
   <div class="row">
     <div class="col-sm-4 mb-4 mb-sm-0"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/1-peugeot-308.webp" class="card-img-top" alt="Image_Peugeot">
  <div class="card-body">
    <h5 class="card-title">PEUGEOT 308 RENDER</h5>
    <p class="card-text">2021 | 25 344 km | Manuelle | Essence</p>
    <hr>
     <p class="card-text">18 970 €</p>
   <a href="{{ path('app_voitures')}}"  target_blank class="btn btn-danger">Détails</a>
  </div>
</div>
</div>
</div> 
 
  <div class="col-sm-4 mb-3 mb-sm-0"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/2-mercedes-classe-e-all-terrain-2023.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">MERCEDES CLASSE E </h5>
    <p class="card-text">2016 | 41200km | Manuelle | Diesel</p>
    <hr>
     <p class="card-text">28 490 €</p>
    <a href="/voitures/mercedes.html.twig" class="btn btn-danger">Détails</a>
  </div>
</div>
</div>
</div>

 
  <div class="col-sm-4 mb-3 mb-sm-0"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/3-bmw-x5-protection-vr6.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">BMW X5 PROTECTION</h5>
    <p class="card-text">2017 |87900 km| Automatique| Diesel</p>
    <hr>
     <p class="card-text">51 900 €</p>
    <a href="#" class="btn btn-danger">Détails</a>
  </div>
</div>
</div>
  </div>
</div>
</div>
 


<div class="card-group">
   <div class="row">
     <div class="col-sm-4 mb-3 mb-sm-0 mt-4"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/4-audi4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Audi R8 </h5>
    <p class="card-text">2022 | 9 000 km | Manuelle | Essence</p>
    <hr>
     <p class="card-text">149 000 €</p>
    <a href="/voitures/audi.html.twig" class="btn btn-danger">Détails</a>
  </div>
</div>
</div>
</div>
 
  <div class="col-sm-4 mb-3 mb-sm-0 mt-4"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/5-2023-toyota-gr86-uk-spec.webp" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">TOYOTA GR86 </h5>
    <p class="card-text">2020 | 42000km | Manuelle | Essence</p>
    <hr>
     <p class="card-text">120 900 €</p>
    <a href="/voitures/toyota.html.twig" class="btn btn-danger">Détails</a>
  </div>
</div>
</div>
</div>

 
  <div class="col-sm-4 mb-3 mb-sm-0 mt-4"> 
    <div class="card">
      <div class="card-body">
  <img src="/assets/img/car/6-yeni-ds-7-turkiye-de.webp" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">DS7 CROSSBACK </h5>
    <p class="card-text">2015 | 34200km | Manuelle | Diesel</p>
    <hr>
     <p class="card-text">54 000 €</p>
    <a href="/voitures/ds.html.twig" class="btn btn-danger">Détails</a>
  </div>
</div>
</div>
</div>
</div>
</div>
  </div>


    <div class="text-center py-5">
    <a href="#" class="btn btn-primary center">Voir plus</a>
    </div>
</div>
</div>